tr.diff,
tr.head {
    border: none;
}

td.diff,
tr.head {
    border-bottom: none;
    border-top: none;
    border-right: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    word-wrap: break-word;
}

.keepWhite {
    white-space: pre;
}

tr.head {
    background-color: #f4f7fb;
}