<div *ngFor="let diff of diffs" style="margin-right: 5%; margin-left: 5%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{diff.filename}}
        </div>
        <table class='table table-condensed'>
            <tr *ngFor="let left of diff.lines.left; let i = index;" [class.head]="left.summary" [class.diff]="!left.summary">
                <td *ngIf="left.summary">
                    ...
                </td>
                <td *ngIf="left.summary" colspan="3">
                    <span class="keepWhite">{{left.text}}</span>
                </td>
                <td *ngIf="!left.summary" style="width: 2%" class="diff" [style.background-color]="left.lineNumberColor">
                    {{left.number}}
                </td>
                <td *ngIf="!left.summary" style="width: 48%" class="diff" [style.background-color]="left.color" (click)="randomWtf(left)">
                    <span class=" keepWhite ">{{left.text}}</span>
                    <img [hidden]="!left.imgSrc" [src]="left.imgSrc" height="200px" width="200px" class="pull-right">
                </td>
                <td *ngIf="!left.summary" style="width: 2%" class="diff" [style.background-color]="diff.lines.right[i].lineNumberColor">
                    {{diff.lines.right[i].number}}
                </td>
                <td *ngIf="!left.summary " style="width: 48% " class="diff " [style.background-color]="diff.lines.right[i].color " (click)="randomWtf(diff.lines.right[i])">
                    <span class=" keepWhite ">{{diff.lines.right[i].text}}</span>
                    <img [hidden]="!diff.lines.right[i].imgSrc " [src]="diff.lines.right[i].imgSrc " height="200px " width="200px " class="pull-right ">
                </td>
            </tr>
        </table>
    </div>
</div>