<div class="jumbotron">
    <h1>WTFs per minute</h1>
    <p>The only valid measurement of code quality!</p>
    <button type="submit" class="btn btn-primary" (click)="login()" *ngIf="!isLoggedIn()">Login to Github</button>
    <select class="form-control col-md-2" *ngIf="(repos | async)">
        <option *ngFor="let repo of repos | async">{{repo.full_name}}</option> 
    </select>
</div>
<div style="margin: 5%;" *ngIf="(pulls | async)">
    <h1>Active Pull Request</h1>

    <div class="list-group">
        <div *ngFor="let pull of pulls | async">
            <app-pull-request [pull]="pull"></app-pull-request>
        </div>
    </div>
</div>